html, body
{
   height:100%;
   width:100%;
   margin:0px;
   text-align:center;
   font:"Verdana";
   background-color:#e9ffdb;
   overflow: hidden;
}

.custom-tooltip-styling
{
	color:black;
	font-weight:bold;
}

div#container
{
height:100%;width:100%;
}

div#header
{

background-color:#e9ffdb;
height:20%;
width:100%;
}


#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
text-decoration: none;
padding: .2em 1em;
color: #666;
background-color: white;
font-weight: bold;
}

#navcontainer ul li a:hover
{
color: #fff;
background-color: #919191;
}


div#middle
{
  background-color:#e9ffdb; 
  height:70%;
  width:100%;
  float:left;
  
}


div#footer
{
background-color:#e9ffdb;
color:black;
clear:both;
height:9%;
width:100%;
font-size:12px;
}

fieldset
{
 	
	border:1px solid black;
	
}


fieldset.out-frame
{
 	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 600px;
	margin:5px 5px;
	border:1px solid black;
	
}

fieldset.inner-frame
{
 	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 550px;
	margin:5px 10px;
	border:1px solid black;
	
}

fieldset.out-frame-inq
{
 	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 700px;
	
	
	margin:5px 5px;
	border:1px solid black;
	
}

fieldset.inner-frame-inq
{
 	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 650px;
	margin:5px 10px;
	border:1px solid black;
	
}


legend
{
	text-align: left;
}
span.mandatory
{
	color:red;
}

.ui-widget 
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.7em;
}

 .td-label{text-align: right;}
 .td-element{text-align: left;}
 
a.top-link
{
	 color:#2E9BD2;
	 text-decoration: none;
}
 a.top-link:link, a.top-link:visited 
{
    color: #2E9BD2;
}
 
a.top-link:hover 
{
	text-decoration: underline;
}

input, select,textarea
{
   
  font:normal normal normal 13px/normal Arial;
}


input.btnSubmit
  {
    background-color:gray;
	color:white;
	font-size:18px;
	font-weight:bold;
	width:100px;
	height:40px;
  }